@using ProductManagement.Service.DTOs.Products;
@model CategoryForCreationDto

<h2>Edit Product Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
}